<div id="index">
  <h1 id="gamesheader">
    <% if player_signed_in? %>
      My Games
    <% else %>
      Welcome!
    <% end %>
  </h1>
  <div class="inline" id="gamesbody">
    <% if player_signed_in? %>
      <div>
        <ul>
          <% @games.each do |game| %>
            <li>
              <% unless game.title %>
                <%= link_to "Game #{game.id}", game_path %>
              <% end %>
              <%= link_to "#{game.title}", game_path(game.id) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div>
        <%= link_to "Start New Game", new_game_path %>
      </div>
    <% else %>
      <%= link_to "Sign up to play chess", new_player_registration_path %>
    <% end %>
  </div>
  <div class="inline" id="gamesjoin">
    <%= link_to "Join New Game", gameplays_path %>
  </div>
</div>
