<div id="new">
  <h1>Start New Game Here</h1>
  <div id="newform">
    <%= simple_form_for @game do |f| %>
      <%= f.label :title, "Name Your Game:" %>
      <%= f.text_field :title %>
      <%= f.submit "Begin!" %>
    <% end %>
    <%= form_for(@gameplay, url: "#") do |f| %>
      <%= f.label "Choose Your Color" %>
      <%= f.collection_radio_buttons(:color, [[false, "White"], [true, "Black"]], :first, :last) %>
    <% end %>
  </div>
  </br>
</div>
